node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
#dist
# dist needs to be commented for the demo to work
# https://jbccollins.github.io/lapidary/demo/index.html
compiled
.awcache
.rpt2_cache
docs
