input {
	width: 600px;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	display: block;
	height: 40px;
	font-size: 15px;
	line-height: 40px;
	border-radius: 4px;
}
#output {
	width: 850px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
}

#output > div {
	display: inline-block;
	border-radius: 4px;
	background: #202020;
	white-space:nowrap;
	margin: 8px;
	padding: 8px;
	color: lightgray;
	font-size: 16px;
	font-weight: normal;;
}
#stats {
	width: 600px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 4px;
}
body {
	background: #2b2b2b;
	font-family: Arial;
}